# Secrets
*.env
.env.*
*.key
*.pem


# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp

# Obsidian workspace files (kullanıcıya özel)
vault/.obsidian/workspace*.json
vault/.obsidian/graph.json
